In [ ]:
#Write a Python program to convert kilometers to miles?

In [18]:
def convert_kilometers_to_miles(km):
    miles = km *  0.62137
    return miles
k = float(input("Enter kilometers:"))
convert_kilometers_to_miles(k)

Enter kilometers:15

9.320549999999999

In [ ]:
#Write a Python program to convert Celsius to Fahrenheit?

In [19]:
def convert_Celsius_to_Fahrenheit(c):
    Fahrenheit = c*9/5 +32 
    return Fahrenheit
c = float(input("Enter Temparature in Celsius:"))
convert_Celsius_to_Fahrenheit(c)

Enter Temparature in Celsius:1

33.8

In [ ]:
#Write a Python program to display calendar

In [11]:
import calendar
def calendar1(y):
    print(calendar.calendar(y))
ye = int(input("Enter Year:"))
calendar1(ye)

Enter Year:2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [ ]:
#Write a Python program to solve quadratic equation

In [21]:
import cmath
def quadratic_equation(a,b,c):
    d = (b**2) - (4 * a*c)
    ans1 = (-b-cmath.sqrt(d))/(2 * a)
    ans2 = (-b + cmath.sqrt(d))/(2 * a)
    return ans1,ans2
a,b,c = map(int,input("Input correct quadratic equation:").split())
quadratic_equation(a,b,c)

Input correct quadratic equation:1 10 -24

((-12+0j), (2+0j))

In [ ]:
#Write a Python program to swap two variables without temp variable

In [23]:
def swap(a,b):
    return b,a
a,b = input("enter two varibles:").split()
swap(a,b)

enter two varibles:ram ravi

('ravi', 'ram')